[Unit]
Description=YtComments gRPC Service (legacy)
After=network.target network-online.target mongod.service
Wants=network-online.target
Requires=mongod.service
After=mongod.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/ytcomments_mongodb
ExecStart=/opt/ytcomments_mongodb/.venv/bin/python main.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=ytcomments_mongodb
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target